/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  height: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #e2e2e2;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #fff;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

#nav-bar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

#nav-bar a {
  color: #fff;
}

#nav-bar h1 {
  float: left;
  padding-top: 20px;
}
ul {
  float: right;
  list-style: none;
}

#nav-bar li {
  float: left;
}

#nav-bar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#nav-bar ul li a:hover,
#nav-bar ul li a.current {
  background: #444;
  color: #f7c08a;
}

/* Showcase */
#showcase {
  background: url("../image_resources/showcase.jpg") no-repeat center
    center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}
#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}
#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.5em;
}

#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url("../image_resources/photo-1.jpg") no-repeat;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  min-height: 100%;
  text-align: center;
  padding: 50px 30px;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Feautures */
/* #features {
  margin: 0 auto;
  width: 100%;
} */

#features .box {
  width: 33%;
  display: inline-block;
  padding: 50px;
  text-align: center;
  float: none;
}

.box i {
  margin-bottom: 10px;
}

#main-footer {
  text-align: center;
  background: #444;
  color: white;
  padding: 10px;
}

.clr {
  clear: both;
}

.info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

.info-left {
  width: 50%;
  float: left;
  min-height: 100%;
}

.info-right img {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 50%;
}

.l-heading {
  font-size: 36px;
}

#tesimonials {
  min-height: 100%;
  background: url("../image_resources/test-bg.jpg") no-repeat center
    center/cover;
}

.testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.testimonial h2 {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.testimonial {
  padding: 20px;
}

.testimonial p {
  text-align: justify;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

#contact-info {
  width: 100%;
  text-align: center;
}
#contact-info .box {
  width: 33%;
  display: inline-block;
}

.container-footer {
  width: 100%;
}
